.tags {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagItem {
  background-color: rgb(188, 248, 165);
  font-size: 12px;
  font-weight: bold;
  border: solid 1px rgb(3, 215, 3);
  border-radius: 8px;
  padding: 5px;
  margin: auto 10px;
  cursor: pointer;
}
