.tags {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagItem {
  background-color: rgb(230, 255, 221);
  font-size: 12px;
  font-weight: 300;
  border: solid 1px rgb(139, 255, 139);
  border-radius: 12px;
  padding: 6px 12px;
  margin: auto 10px;
  cursor: pointer;
}
